/* Reset default styles */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/* Style app elements */
.App {
  color: #ffffff;
  background-color: #02c39a;
  font-family: sans-serif;
  text-align: center;
  height: 100vh;
  padding: 20px;
}
