/* Style a cell on the game board */
.BoardCell {
  width: auto;
  border-radius: 8px;
  position: relative;
}

/* Style a tetromino */
.Tetromino {
  border-top: 4px solid rgba(255, 255, 255, 0.1);
  border-left: 4px solid rgba(255, 255, 255, 0.1);
  border-right: 4px solid rgba(255, 255, 255, 0.1);
  border-bottom: 4px solid rgba(255, 255, 255, 0.1);
  border: 1px solid black;
}

/* Style a tetromino with a shiny part */
.Tetromino .Shine {
  position: absolute;
  width: 7px;
  height: 7px;
  top: 2px;
  left: 2px;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 4px 4px;
  z-index: 10;
}

/* Style a ghost tetromino */
.Tetromino.Ghost {
  background-color: transparent;
  border: 2px solid rgba(255, 255, 255, 0.4);
}

/* Style a ghost tetromino by removing the shiny part */
.Tetromino.Ghost .Shine {
  opacity: 0;
}

/* Style the individual tetromino shapes */
.Tetromino_i {
  background-color: #00ffff;
}
.Tetromino_j {
  background-color: #0000ff;
}
.Tetromino_l {
  background-color: #ff7f00;
}
.Tetromino_o {
  background-color: #ffff00;
}
.Tetromino_s {
  background-color: #00ff00;
}
.Tetromino_t {
  background-color: #8e5eff;
}
.Tetromino_z {
  background-color: #ff0000;
}
