/* Style all game stats displayed on-screen */
.GameStats {
  position: absolute;
  width: 500px;
  list-style-type: none;
  color: rgba(0, 0, 0, 0.9);
}

/* Style the left side of the game stats display */
.GameStats_left {
  right: 0px;
  top: 0px;
  text-align: left;
}

/* Style the right side of the game stats display */
.GameStats_right {
  right: 0px;
  bottom: 0px;
  text-align: left;
}

/* Style all values in the game stats display */
.GameStats .Value {
  font-size: 2.8rem;
  margin-bottom: 0.2em;
  color: rgba(0, 0, 0, 0.9);
}
