/* Style a tetromino preview */
.Preview {
  position: absolute;
  right: 392px;
  margin-top: 40px;
  background-color: rgba(0, 0, 0, 0.15);
  border: 8px solid rgba(0, 0, 0, 0);
  border-radius: 10px;
}

/* Style the tetromino preview window */
.Preview_Board {
  display: grid;
  grid-gap: 1px;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(4, 1fr);
  width: 90px;
  height: 90px;
}
