/* Reset default styles */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/* Styles the main app file */
.App {
  font-family: sans-serif;
  text-align: center;
  color: #ffffff;
  background-color: #551a8b;
  height: 100vh;
  padding: 20px;
}
